table, th, td {
  border: 1px solid white;
  text-align: center;
  color: white;
}
table{
	width: 100%;
}
th{
	font-weight: bold;
	background-color: black;

}
td{
  background-color: #31263e;
}
* {
  box-sizing: border-box;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   background-color: #f1e3cb;
   width: 90%;
   margin: 40px 65px 65px 65px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=text]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
  background-color: #19aa8d;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 10%;
}
.container {
  border-radius: 5px;
  background-color: black;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}
.clear{
    clear: both;
}
#logo {
  position: relative;
  left: 40px;
  width: 5%;
}
#logo:hover {
  cursor: pointer;
}
.logo-font {
  position: relative;
  font-family: "MuseoModerno", cursive;
  margin-top: 0;
  left: 20px;
  color:black;
}
.link{
  position: relative;
  left: 1px;
  color:black;

}
.username {
  position: absolute;
  right: 100px;
  margin-top: 20px;
}

