body {
  background-color: #f1e3cb;
}
.top-container {
  position: relative;
  height: 100px;
}

.middle-container {
  position: relative;
  height: 100px;
  text-align: center;
}

#logo {
  position: relative;
  left: 40px;
  width: 5%;
}
#logo:hover {
  cursor: pointer;
}

.logo-font {
  position: relative;
  font-family: "MuseoModerno", cursive;
  margin-top: 0;
  left: 20px;
}
.search-bar {
  text-align: center;
  position: absolute;
  width: 100%;
  margin-top: 20px;
}

.search-input {
  height: 30px;
}
.search-btn {
  height: 30px;
}

.login-bar {
  position: absolute;
  right: 100px;
  margin-top: 20px;
}
.login-btn {
  height: 30px;
}
.button {
  width: 10%;
  height: 100px;
  font: 50px;
}

/* buying page html */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.buying-menu {
  width: 100%;
  position: relative;
}

.navigationDesktop {
  text-align: center;
}

.nav-buying-dropdown-menu {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.nav-buying-dropdown-menu a {
  font-family: monospace;
  font-weight: bold;
  font-size: 15pt;
  color: #112233;
}

.nav-buying-dropdown-menu a:hover {
  background: #223433;
  color: #f0f1f5;
}

.nav-buying-dropdown-menu ul {
  list-style: none;
}

.nav-buying-dropdown-menu ul li {
  float: left;
  width: 75px;
  height: 40px;
  line-height: 40px;
  background: #fc575e;
}

.nav-buying-dropdown-menu ul ul li {
  position: relative;
  display: none;
  z-index: 2000;
}


/* nav ul ul ul {
  display: none;
} */

.nav-buying-dropdown-menu ul li:hover ul li{
  display: block;
  animation: navmenu 500ms forwards;
}
/* nav ul li:hover ul li {
  display: block;
  animation: navmenu 500ms forwards;
} */
@keyframes navmenu {
  0% {
    opacity: 0;
    top: 25px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.nav-buying-dropdown-menu ul ul li:hover ul {
  display: block;
  position: absolute;
  width: 200px;
  left: 140px;
  top: 0px;
}

.div-display-bookname-bookimage {
  position: relative;
  margin-left: 20px;
  /* width: 200px; */
  z-index: -1000;
}
.course-heading-buyingpage {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}
.book-name-buyingpage {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
}
.select-btn-buyingpage {
  position: relative;
  left: 10px;
  margin-top: 10px;
  display: block;
  text-transform: uppercase;
}
.delete-btn-buyingpage {
  position: relative;
  top: -38px;
  left: 80px;
  margin-top: 10px;
  display: block;
  text-transform: uppercase;
}

/* Style for profile.ejs (profile) START */
.username {
  position: absolute;
  right: 100px;
  margin-top: 20px;
}
#profile_pic {
  border: 1px solid black;
  background-color: white;
  position: absolute;
  left: 150px;
  width: 170px;
}
.info {
  font-size: 24px;
  position: absolute;
  left: 370px;
  top: 200px;
}
.account {
  font-size: 24px;
  position: absolute;
  top: 450px;
  left: 150px;
}
.posted_supplies {
  font-size: 24px;
  position: absolute;
  top: 950px;
  left: 150px;
}
.edit {
  font-size: 28px;
  position: absolute;
  top: 400px;
  width: 200px;
  height: 50px;
}
.delete {
  font-size: 28px;
  color: red;
  position: absolute;
  top: 350px;
  left: 900px;
  width: 300px;
  height: 50px;
}
.boldReview {
  font-weight: bold;
}
.all_reviews {
  position: absolute;
  left: 50px;
  top: 150px;
  margin: 16px;
  margin-bottom: 5px;
}
#file {
  position: absolute;
  top: 400px;
  left: 150px;
}
h1, p {
  margin-bottom: 30px;
}
input[id=profid], [id=profname], [id=profpwd], [id=profconfirm], [id=profemail] {
  line-height: 2em;
  font-size: 18px;
  position: absolute;
  left: 250px;
}
#list_pics {
  font-size: 22px;
  position: absolute;
  left: 150px;
  top: 400px;
}
#pics {
  font-size: 22px;
  position: absolute;
  left: 340px;
  top: 400px;
}
#imageButton {
  font-size: 22px;
  width: 100px;
  position: absolute;
  left: 500px;
  top: 400px;
}
#item {
  line-height: 2em;
  font-size: 18px;
}
#submit {
  font-size: 22px;
  width: 100px;
  margin-bottom: 20px;
}
#reviews, .About_me, .Written_by_me {
  border: 2px solid #ccc;
  background-color: white;
  border-radius: 5px;
  padding: 16px;
  margin: 16px;
  width: 700px;
}
#reviewing {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 6px;
  margin: 16px;
  margin-bottom: 5px;
  width: 700px;
  height: 100px;
}
#submit_review {
  text-align: center;
  margin: 16px;
  margin-top: 0px;
  width: 100px;
  height: 30px;
}
/* Style for profile.ejs (profile) FINISIHED */
