<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Findpassword</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
   
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- Font Awesome icons (free version)-->
<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
<!-- Third party plugin CSS-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="./stylesheets/mainpage_styles.css" rel="stylesheet" />

    <style>
    body {
        background: #f1e3cb;
        font-family: 'Roboto', sans-serif;
    }
    
    .form-gap {
    padding-top: 70px;
}
.form-control {
	font-size: 15px;
}
.form-control, .form-control:focus, .input-group-text {
	border-color: #e1e1e1;
}
.form-control, .btn {
	border-radius: 3px;
}
    </style>
</head>
<body >
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
		<div class="container">
		  <img id="logo" src="logo.png" alt="logo" onclick="location.href='/mainpage'"/>
			<p class="logo-font" onclick="location.href='/mainpage'">sfu-backpack</p>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
			</div>
		</div>
  </nav>
  <header class="masthead">
    <div class="container h-100">
      <section class="row justify-content-center">
        <div class="form-gap">
          
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <div class="text-center">
                          <h3><i class="fa fa-lock fa-4x"></i></h3>
                          <h2 class="text-center">Forgot Password?</h2>
                          <p>You can see your password here.</p>
                          <div class= "warning" style="color:red;">
                            <%= typeof msg != 'undefined' ? msg : '' %>
                          </div><br>
                          <div class="panel-body">
            
                            <form action="/showpassword" id="register-form" role="form" autocomplete="off" class="form" method="post">
    
                              <div class="form-group">
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-barcode color-blue"></i></span>
                                  <input  name="uid" placeholder="ID" class="form-control"  type="text">
                                </div>
                              </div>
            
                              <div class="form-group">
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>
                                  <input  name="uname" placeholder="NAME" class="form-control"  type="text">
                                </div>
                              </div>
    
                              <div class="form-group">
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                  <input  name="uemail" placeholder="email address" class="form-control"  type="email">
                                </div>
                              </div>
    
    
                              <div class="form-group">
                                <!-- <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit"> -->
                                <button type="submit" class="btn btn-lg btn-primary btn-block">SEND</button>
                              </div>
                              
                              <input type="hidden" class="hide" name="token" id="token" value=""> 
                            </form>
                            <p class="text-center small">Back to login page? <a href="/login">login here</a></p>
                            <p class="text-center small">Forgot ID? <a href="/find_id">Find ID</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
      </section>
    </div>
  </header>
    
</body>
<script type="text/javascript" src="./mainpage_scripts.js"></script>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<!-- Core theme JS-->
</html>