<!DOCTYPE html>
<html>
<head>
  
  
  <title>Image Upload</title>
</head>
<body>
  <div class="container">

    <h1>File Upload</h1>
    <%= typeof msg != 'undefined' ? msg : '' %>
    <form action="/upload" method="POST" enctype="multipart/form-data">
    	
    	<p> User ID:</p>
      <input type="text"  name="uid" value="" placeholder="USER ID">
      <p>Title:</p>
      <input type="text"  name="title" value="" placeholder="TITLE">
    	<p> Course:</p>
    	<select type="text" name="course">
					<option> CMPT </option>
					<option> Arts </option>
					<option> Business </option>
					<option> English </option>
					<option> Health science </option>
					<option> Mathematics </option>
		</select><br>
    	<p> Cost :</p>
    	<input type="number"  name="cost" value="" placeholder="COST">
    	<p>The Condition:</p>
  		<input type="radio" id = "con1" name="condition">
  		<label for="con1">New</label><br>
  		<p>As New (AN): describes a book that is in the same perfect condition as when it was issued by the printer. There are no flaws. None at all. This book or dust jacket is in pristine condition, just as it came from the publisher. The book is tight. It has not been read or its pages turned. AN is the highest grade possible for a book or dust jacket.</p>
  		<input type="radio" id = "con2" name="condition">
  		<label for="con2">Used(new)</label><br>  
 		<input type="radio" id = "con3" name="condition">
  		<label for="con3">Used(good)</label><br>  
  		<input type="radio" id = "con4" name="condition" value="100">
  		<label for="con4">Used(fair)</label><br>
  		<p> Description:</p>
  		<textarea name="description"></textarea><br>


      
        <span>File</span>
        <input name="myImage" type="file">
        
      	<button type="submit" class="btn">Submit</button>
    </form>

    <br>

    <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
  </div>

  
   
</body>
</html>