<html><!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Geocoding</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="shortcut icon" href="">

</head>
<body>

</body>
<script>
  geocode();
  function geocode() {
    var location = 'Vancouver';
    axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
      params: {
        address: location,
        key: 'AIzaSyDaBRerrDAKoli8p1531MquCGg1Jna9I8I'
      }
    })
    .then (function(response) {
      console.log(response);

      console.log(response.data.results[0].geometry.location);
    })
    .catch (function(error){
      console.log(error);
    })
  }
</script>
</html></html>
