<!DOCTYPE html>
<html>
<head>
  <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./stylesheets/imageUpload.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap"
      rel="stylesheet"
    />
  <title>Report</title>
  <nav class="username">
      <a href="/auth/logout">logout</a>
    </nav>
    <img
      id="logo"
      src="logo.png"
      alt="logo"
      onclick="location.href='/mainpage'"
    />
    <p class="logo-font">sfu-backpack</p>
</head>
<body>
  <div class="login-form">
    <form action="/report" method="POST">
    <h2 class="text-center">Reporting a User</h2>
      <div class="warning">
        <%= typeof msg != 'undefined' ? msg : '' %>
      </div>
      <br/>
      <input type="text" name="uid" class="form-control" placeholder="THE USER ID being REPORTED" required="required"><br>
      <textarea type="text" name="description" class="form-control" placeholder="Description" required="required" maxlength="1000"></textarea><br>
      <button type="submit" class="btn btn-primary btn-lg btn-block">SEND</button>
    </form>
    <br/>
    </div>
</body>
</html>
