<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="./stylesheets/signUp.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<title>Sign Up</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
body {
	color: #fff;
	background: #f1e3cb;
	font-family: 'Roboto', sans-serif;
}
.form-control {
	font-size: 15px;
}
.form-control, .form-control:focus, .input-group-text {
	border-color: #e1e1e1;
}
.form-control, .btn {
	border-radius: 3px;
}
.signup-form {
	width: 400px;
	margin: 0 auto;
	padding: 30px 0;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form h2 {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.signup-form hr {
	margin: 0 -30px 20px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form label {
	font-weight: normal;
	font-size: 15px;
}
.signup-form .form-control {
	min-height: 38px;
	box-shadow: none !important;
}
.signup-form .input-group-addon {
	max-width: 42px;
	text-align: center;
}
.signup-form .btn, .signup-form .btn:active {
	font-size: 16px;
	font-weight: bold;
	background: #19aa8d !important;
	border: none;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #179b81 !important;
}
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #19aa8d;
	text-decoration: none;
}
.signup-form form a:hover {
	text-decoration: underline;
}
.signup-form .fa {
	font-size: 21px;
}
.signup-form .fa-paper-plane {
	font-size: 18px;
}
.signup-form .fa-check {
	color: #fff;
	left: 17px;
	top: 18px;
	font-size: 7px;
	position: absolute;
}
</style>
</head>
<body>
<div class="signup-form">
    <form action="/adduser" method="post">
		<h2>Registration</h2>
		<p>Please fill in this form to create an account!</p>
		<hr>
		<div class= "warning" style="color:red;">
        	<%= typeof msg != 'undefined' ? msg : '' %>
      	</div><br>
        <div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<span class="fa fa-user-circle"></span>
					</span>
				</div>
				<input type="text" class="form-control" name="uid" placeholder="ID" required="required" maxlength="10">
			</div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <span class="fa fa-user"></span>
              </span>
            </div>
            <input type="text" class="form-control" name="uname" placeholder="Username" required="required" maxlength="10">
          </div>
            </div>

        <div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-paper-plane"></i>
					</span>
				</div>
				<input type="email" class="form-control" name="uemail" placeholder="Email Address" required="required" maxlength="30">
			</div>
        </div>

		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-lock"></i>
					</span>
				</div>
				<input type="password" class="form-control hide pass" name="upassword" placeholder="Password" required="required" maxlength="30">
			</div>
        </div>

		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-lock"></i>
						<i class="fa fa-check"></i>
					</span>
				</div>
				<input type="password" class="form-control hide pass" name="upasswordcon" placeholder="Confirm Password" required="required" maxlength="30">
			</div>
        </div>
        <div class="form-group">
			<label class="form-check-label">
				<input type="checkbox" required="required"> </input>
				I accept the <a class="condition_use" onclick="pop_up_condition()">Terms of Use and Privacy Policy
				<span class="popuptext" id="popup">
          <h2> Conditions of Use </h2>
          <p> Welcome to Backpack. Backpack service provide website features and other products and services to you when you visit or use backpack. Backpack provides the Backpack Services subject to the following conditions. </p>

					<h2> By using Backpack Services, you agree to following conditions. Please read carefully. </h2>
          <p> We offer a wide range of Backpack Services and when you use a Backpack Service (for example, your Profile, Buy, Sell, or Review) you will be subject to Service Terms relating to the Backpack Service you want to use. If these Conditions of Use are inconsistent, an action towards your inconsistency will be taken by the Backpack Service Terms.  </p>

					<h2> PRIVACY </h2>
          <p> The Privacy Notice describes how Backpack collects and process your personal information through Backpack website and Services. We work to protect the security of your personal information while using the Backpack. We will automatically collect and store the information you provide in relation to Backpack Services and any of the information will not be accessible by others. We release account and other information when we believe the release is appropriate when you would like to contact the other person for Products and Services only. It is important for you to protect unauthorized access to your password and to your computers, devices, and applications. By using Backpack, you are consenting to the practices described in the Privacy Notice. </p>

					<h2> COPYRIGHT </h2>
          <p> All content included in or available in Backpack Services such as, text, design, or buttons is property of Backpack. The content included in or available in Backpack Services is protected by the copyright laws. </p>

					<h2> LICENSE AND ACCESS </h2>
	        <p> Subject to Conditions of Use and Backpack Service, Backpack grant you a limited and non-exclusive license to access and make personal and non-commercial use of Backpack Services. This license does not include any resale or commercial use of any Backpack Services, or its contents; any downloading, copying, or other use of account information for the benefit of third party, or data gathering and extraction. All rights not expressly granted to you in these Condition of Use. Licenses are granted by Backpack to agree to limited access only, if you do not comply with these Conditions of Use, Backpack will terminate your license and access. </p>

					<h2> YOUR ACCOUNT </h2>
		      <p> You will need your own Backpack account to use Backpack Services, and you are required to be logged in to the account. You are responsible for maintaining the confidentiality of your account and password and you agree to accept responsibility for all activities that occur under your account. You may choose to edit or remove your account and Backpack will be responsible for updating your account to most recent data received. Removing your account will delete the data from our Backpack Service completely. </p>

					<h2> BUY, SELL, REVIEW and Other Content </h2>
					<p> You may post review or item wanting to sell or contact seller to buy the items listed in Backpack. If you do post content in Backpack Services, you automatically grant Backpack to monitor the content posted and remove the post if inappropriate regarding to our Service Terms (for example, unrelated posts, inappropriate language, etc.). Violating any of the Condition of Use regards to posting may lead to deletion of an account from Backpack Services.</p>
					<button type="button" class="accept"> OK </button>
				</span>
			</a></label>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
		</div>

    </form>

	<div class="text-center">Already have an account? <a href="/login">Login here</a></div>

	<div class="text-center">Back to Mainpage? <a href="/mainpage">Main here</a></div>
</div>
</body>
<script type="text/javascript" src="./signUp.js">
</script>
</html>
